/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #e2e3ed;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* ------- General Styles & Rules (Mobile) ------- */

html {
  font-size: 16px;
}

body {   /* --- BACKGROUND COLOR JUST FOR BUILDING - REMOVE! --- */
  background: #202322;
}

h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

h1 {
  font-size: 1.875em;
}

h3 {
  font-size: 1.125em;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: .875em;
}


/* ------- Base Header - Footer Styles ------- */

header, footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background: #202322;
}

header {
  padding-top: 25px;
}

header .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

header .logo {
  width: 13.75em;
  justify-self: center;
  padding-bottom: 15px;
}

header .header-divider {
  width: 100%;
  height: 1px;
  background: #3a3a3a;
}

header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 50%;
}

header nav ul {
  display: flex;
  justify-content: space-between;
}

header nav ul li {
  display: flex;
  padding-right: 3em;
  
}

header nav ul li a {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.125em;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #e2e3ed;
}

footer {
  padding-top: 50px;
}

footer .footer-content,
footer .content-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
}

footer .footer-content {
  width: 100%;
}

footer .contact {
  width: 100%;
}

footer p, h3 {
  margin: 0;
  color: #ffffff;
}

footer address {
  font-style: normal;
  text-align: center;
}

footer .contact p {
  padding-top: 18px;
}

footer .social {
  padding-top: 40px;
  text-align: center;
}

footer .social .social-icons {
  display: flex;
  justify-content: center;
  flex-flow: row nowrap;
  align-items: center;
}

footer .social .social-icons p {
  background: #527158;
  height: 40px;
  width: 40px;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px 20px 0 20px;
}

footer .social .social-icons i {
  color: #e2e3ed;
  font-size: 1.5em;
  
  
}

footer .copyright {
  margin: 50px 0 10px 0;
}

/* ------- Mobile Styles - Homepage ------- */

aside,
aside .content-wrapper,
.features,
.reviews {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.hero-area {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  background: url('../img/jake-melara-30679-unsplash.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 500px;
}

.hero-area h2 {
  font-size: 2.25em;
  margin-top: 50px;
  width: 90%; 
}

aside {
  background: #527158;
  padding: 30px 0 55px 0;
}

aside .content-wrapper {
  width: 90%;
}

aside p {
  margin: 5px 0 0 0;
}

aside .form {
  margin-top: 35px;
  width: 100%;
}

aside input {
  margin: 20px 0 0 0;
  width: 100%;
  height: 50px;
  border: none;
}

.features {
  background: url('../img/rawpixel-800820-unsplash1.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  padding: 50px 0 15px 0;
}

.features .content-wrapper {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.features h1 {
  margin-bottom: 55px;
}

.features-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  text-align: center;
  width: 90%;
}

.features .fontawesome-icon {
  width: 100%;
}

.features i {
  font-size: 4.2em;
  width: 100%;
}

.features-item-description {
  color: #e1e2ea;
  width: 70%;
  margin: 40px 0 50px 0;
}

.reviews {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background: #2a423a;
  padding: 55px 0 45px;
}

.reviews .content-wrapper {
  width: 90%;
}

.reviews p, h1 {
  margin: 0;
}

.reviews article .img-container {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  width: 100%;
  height: 225px;
  overflow: hidden;
  margin-top: 25px;
}

.reviews article img {
  width: 100%;
  height: auto;
}

.reviews h3 {
  padding: 20px 0;
}

.reviews p {
  line-height: 1.5em;
}

/* ------- Mobile Styles - About ------- */

.mission,
.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.mission {
  background: #527158;
  padding: 45px 0 35px 0;
}

.mission .content-wrapper {
  width: 90%;
}

.contact-section {
  background: #2a423a;
  padding: 45px 0 35px 0;
}

.contact-section .content-wrapper {
  width: 90%;
}

.contact-section address {
  font-style: normal;
  padding-top: 10px;
}

/* ------- Mobile Styles - FAQ ------- */

.faq {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background:#527158;
  padding: 50px 0 40px 0;
}

.faq .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 90%;
}

.faq h1 {
  width: 100%;
  line-height: 1em;
}

.faq-item {
  margin-top: 40px;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {  
  /* ---- TABLET STYLES ---- */

  h1 {
    font-size: 2.25em;
  }

  h3 {
    font-size: 1.5em;
  }
  
  /* Tablet Header & Footer */

  header .content-wrapper {
    width: 83%;
    justify-content: space-between;
    padding-bottom: 15px;
  }

  header .logo {
    padding-top: 15px;

  }

  header nav {
    text-align: right;
    justify-content: flex-end;
  }

  header nav ul {
    margin: 0;
    padding: 0;
  }

  header nav ul li {
    padding: 0 0 0 3em;
    font-size: 1em;
    
  }

  .header-divider {
    display: none;
  }

  footer .footer-content {
    display: flex;
    justify-content: space-between;
  }

  footer .contact,
  footer .social {
    width: 50%;
    padding: 40px 0 40px 0;
  }

  footer .social .social-icons p {
    margin-top: 30px;
  }

  footer .contact p {
    padding-top: 30px;
  }

  footer .copyright {
    text-align: center;
    width: 100%;
  }


  /* Tablet Homepage */

  .hero-area {
    height: 600px;
  }

  .hero-area h2 {
    font-size: 3em;
    margin-top: 90px;
    width: 83%;
  }


  aside {
    padding: 45px 0;
  }

  aside .content-wrapper {
    width: 83%;
    flex-flow: nowrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  aside .form-description,
  aside .form {
    width: 45%;
  }

  aside .form-description h1,
  aside .form-description p {
    width: 80%;
  }

  aside .form {
    margin-top: 0;
  }

  aside input {
    height: 40px;
  }

  .features {
    padding-top: 90px;
    padding-bottom: 40px;
  }

  .features .content-wrapper {
    width: 83%;
    justify-content: space-between;
  }

  .features h1 {
    margin-bottom: 20px;
  }

  .features article {
    flex-basis: 235px;
    flex-grow: 1;
    padding-left: 40px;
    padding-right: 40px;
  }

  .features i {
    font-size: 5em;
  }

  .features-item-description {
    color: #e1e2ea;
    width:  85%;
    margin: 15px 0 45px 0;
  }

  .reviews .content-wrapper {
    width: 83%;
  }

  .reviews {
    padding: 65px 0 95px 0;
  }
  
  .reviews article {
    display: flex;
    justify-content: space-between;
    flex-flow: nowrap;
  }

  .reviews article .img-container,
  .reviews article div {
    width: 49%;
  }

  .reviews h3 {
    padding: 20px 0 10px 0;
  }

  /* Tablet About page */

  .mission {
    padding: 80px 0 70px 0;
  }
  
  .mission .content-wrapper {
    width: 83%;
  }

  .mission-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
  }

  .contact-section .content-wrapper h3 {
    width: 100%;
}
  .mission-content p {
      width: 47%;
      padding-top: 15px;
  }

  .contact-section {
    padding: 80px 0 70px 0;
  }

  .contact-section .content-wrapper {
    width: 83%;
  }

  .contact-section .content-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-flow: row wrap;
  }
  
  .contact-section address {
    width: 50%;
    padding-top: 40px;
  }

  /* Tablet FAQ page */

  .faq {
    padding: 80px 0 70px 0;
  }

  .faq .content-wrapper {
    width: 83%;
    justify-content: space-between;
    align-items: flex-start;
  }

  .faq .faq-item {
    flex-basis: 45%;
  }

  .faq h3 {
    width: 100%;
    font-size: 1em;
  }


}

@media only screen and (min-width: 1200px) {
  /* Desktop styles here */
}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

